/* This is Course part */
.courses {
    max-width: 1200px;
}

.courses__title {
    text-align: left;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: rgb(48, 48, 48);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2rem;
    margin-bottom: 30px;
}

.courses__title::after {
    content: "";
    position: absolute;
    /* left: 50%; */
    right: 95%;
    bottom: -12px;
    width: 3%;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    pointer-events: none;
  }

.courses__title_sub {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.courses__description {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-bottom: 1rem;
}

.courses__button {
    font-size: 14px;
    font-weight: 700;
    color: rgb(48, 48, 48);
    background: transparent;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 5px;
    padding: 20px 10px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.courses__button:hover {
    color: #fff;
    background: #838C48;
    border: 2px solid transparent;

}

.course__image {
    width: 100%;
    height: auto;
}

.course__badge {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.course__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.course__category,
.course__time,
.course__rating {
    font-size: 0.875rem;
    color: #666;
}

.ad__image {
    width: 100%;
    height: auto;
}

.col-md-8 {
  width: calc(100% - (100% / 3));
  display: inline-flex;
}

.col-md-4 {
  width: calc(100% / 3);
}


/* This is Blog part */
.blog {
  max-width: 1200px;
  padding: 60px 0 70px 0;
  margin: 0;
}
.blog-title h2 {
  font-weight: 400;
  font-size: 24px;
}
.blog img {
  max-width: 100%;
}
.btn-group-vertical {
  display: grid;
}
.blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.blog-cards {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 15px;
}
.blog-card {
  flex: 0 1 30%;
  max-width: 30%;
  border: none;
}
.btn-btn-primary1 {
  height: 45px;
  width: 70px;
}
.btn-btn-primary2 {
  width: 69px;
  height: 34px;
  cursor: pointer;
}
.btn-btn-primary2 :hover {
  background-image: rgb(228, 101, 3);
}
.card-body {
  display: flex;
  margin: 0;
}
.blog-card-tile {
  text-align: left;
  margin-right: 60px;
}
.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.card-text1 {
  font-size: 14px;
  margin-top: 10px;
}
.card-text {
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
.card-text:hover {
  color: rgb(228, 101, 3);
}
@media (max-width: 768px) {
  .blog-card {
    flex: 0 1 45%; /* Two cards per row on medium screens */
    max-width: 45%;
  }
}
@media (max-width: 576px) {
  .blog-card {
    flex: 0 1 100%; /* One card per row on small screens */
    max-width: 100%;
  }
}

/* This is our course part */
.our_process {
  max-width: 1200px;
  padding: 70px 0px 70px 0px;
  margin-bottom: 100px;
}

/* This is title of Our Process part */
.text-center {
  position: relative;
  display: block;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: rgb(48, 48, 48);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2rem;
  
}

.text-center::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 3%;
  height: 2px;
  background: black;
  transform: translateX(-50%);
  pointer-events: none;
}

.our_process_text {
    margin-bottom: 80px;
    text-align: center;
}

.our_process_text::after {
    left: 50%;
}

.courses_process {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* This is css timeline of Our Process part */
.process {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.process_left {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 0px;
  padding-right: 0px;
  position: relative;
}

.process_right {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 60px;
  padding-left: 0px;
  position: relative;
}

.process__line {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ddd;
}

.process__step {
  padding-top: 80px;
  position: relative;
}

.left {
  text-align: end;
  justify-content: end;
  justify-items: end;
  padding-right: 10px;
  margin-left: 10px;
}

.right {
  text-align: start;
  justify-content: start;
  justify-items: start;
  padding-left: 10px;
  margin-right: 10px;
}

.process__content_wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 6px solid #f5e9d4;
  top: 70px;
  position: absolute;
  z-index: 1;
  right: -45px;
}

.process__content_wrapper::after {
  content: "";
  position: absolute;
  right: -34px;
  width: 10px;
  height: 30%;
  background: #f5e9d4;
  width: 10px;
  top: 20px;
  z-index: -1;
}

.left::before {
  right: -39px;
}

.right::before {
  left: -41px;
}

.process__content {
  margin-bottom: 35px;
  border-bottom: 0.83px solid rgba(128, 128, 128, 0.2);
}

.process__title {
  font-size: 24px;
  color: rgb(218, 133, 61);
}

.process__description {
  font-size: 16px;
  font-weight: 520;
  color: #333;
  width: 100%;
}

.process__text {
  color: #666;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.process__text p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.process__text_left > svg {
  margin: 5px 0px 10px 25px;
  justify-content: end;
}

.process__text_right > svg {
  margin: 5px 25px 10px 0px;
  justify-content: start;
}

.custom-svg {
  width: 40px;
  height: 40px;
}

.custom-svg path {
  fill: rgb(218, 133, 61);
}

.process__text::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: #f5e9d4;
  top: 100px;
}

.none::after {
  display: none;
}

.process__text_left::after {
  right: -34px;
}

.process__text_right::after {
  left: -36px;
}

.process__step::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffb606;
  border: 6px solid #f5e9d4;
}

.process__step_first::before {
  right: -39px;
  top: 0px;
}

.process__step_final::before {
  left: -41px;
  bottom: -100px;
  z-index: 2;
}

.process__step_none::before {
  display: none;
}

.process__title {
  width: 100%;
  margin-bottom: 20px;
  width: 100%;
}

.process__description {
  margin-top: -15px;
  padding-bottom: 20px;
  width: 100%;
}

@media (max-width: 992px) {
  .process {
    flex-direction: column;
  }

  .process_left,
  .process_right {
    width: 100%;
    margin-left: 0;
  }

  .process_right {
    margin-left: 0;
    margin-top: 60px;
  }

  .process__content_wrapper::before,
  .process__content_wrapper::after {
    right: 50%;
    transform: translateX(50%);
  }

  .process__content_wrapper::after {
    top: 100px;
    height: 10%;
  }

  .left::before,
  .right::before {
    right: 50%;
    transform: translateX(50%);
  }

  .left,
  .right {
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .text-center {
    font-size: 24px;
  }

  .process__title {
    font-size: 1.2rem;
  }

  .process__description {
    font-size: 1.2rem;
  }

  .process__text p {
    font-size: 12px;
    line-height: 20px;
  }

  .custom-svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .text-center {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .process__step {
    padding-top: 40px;
  }

  .process__content_wrapper::before,
  .process__content_wrapper::after,
  .left::before,
  .right::before {
    right: 50%;
    transform: translateX(50%);
  }

  .process__content_wrapper::after {
    top: 50px;
  }
}
