/* CSS Teachers */
/*body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 0px;
}*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    width: 100%;
}
.content {
    display: flex;
    padding: 20px 0;
}

.sidebar {
    width: 25%;
    padding-right: 20px;
}

.sidebar .wrapper {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.sidebar .wrapper h2 {
    margin-top: 0;
}

.sidebar .wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.teachers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
}

.teacher-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 10%;
}

.teacher-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.teacher-card h3 {
    margin: 10px 0 5px;
    
}

.teacher-card p {
    color: #666;
    margin: 0 0 20px;
    color: #d4813e;
}

.teacher-card .social-links a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
    color: #d4813e;
}

.social-links img {
    width: 24px;
    height: 24px;
}
.teacher-card .social-links a:hover {
    color: #555;
}

.wrapper {
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.wrappertitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
.wrapertitle.align {
    border-bottom: 2px solid #a7c957;
    display: inline-block;
    padding-bottom: 5px;
}
.wrapper .wrapper ul {
    list-style-type: none;
    padding-left: 0;
}
.wrapper .wrapper ul li {
    margin-bottom: 10px;
}
.wrapper .wrapper ul li a {
    text-decoration: none;
    color: #333;
}
.wrapper .wrapper ul li a:hover {
    text-decoration: underline;
}


title_home a:-webkit-any-link {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
a:-webkit-any-link {
    color: rgb(15, 13, 13);
    cursor: pointer;
}
.banner {
    background-color: #d4813e;
    color: white;
    padding: 20px;
    text-align: left;
}
.banner h1 {
    font-size: 36px;
    max-width: 1200px;
    width: 100%;
}
.banner p {
    font-size: 16px;
    max-width: 1200px;
    width: 100%;
}
.banner:hover a{
    color: black;
}
.recent-posts ul {
    list-style-type: none;
    padding-left: 0;
}
.recent-posts ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
.recent-posts ul li:last-child {
    border-bottom: none;
}
.recent-posts .post-title {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}
.recent-posts .post-title:hover {
    text-decoration: underline;
}
.post-meta {
    font-size: 0.9em;
    color: #a7c957;
}
.post-meta span {
    margin-right: 10px;
}
.post-meta .comments {
    color: #a7c957;
}
.language-switcher {
    display: flex;
    gap: 10px;
}
.cart {
    height: 30px;
}