* {
    padding: 0; 
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FCF5E9 !important;
}

.header {
    padding: 20px 0 !important;
    display: flex; /* Add flexbox to the header */
    justify-content: space-between; /* Distribute child elements horizontally */
    align-items: center;
}

.col-md-2 {
    margin: 0 0 0 55px !important;
}

.text-end {
    margin: 0 !important;
}

.logo {
    width: 50%
}

.nav-bar {
    display: flex;
    margin-left: 30px !important;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.navbar-nav {
    margin-right: 0 !important;
}

.nav-link:hover {
    color: #c7daec;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.language ul {
    display: flex;
    flex-wrap: nowrap;
}

.language button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}
  
.language button:hover {
    background-color: transparent;
}

.cart {
    width: 100%;
}