* {
    padding: 0; 
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FCF5E9;
}

.header {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}

.logo-element {
    width: 175px;
}

.logo {
    width: 100px;
}

.widget {
    display: flex;
    gap: 50px;
    color: black;
    margin-left: 75px;
}

.widget-container ul {
    font-size: 14px;
    display: flex;
    gap: 50px;
    color: black;
    list-style: none;
}

.login-register  { 
    display: flex;
    list-style: none;
}

.login-register ul li a{
    display: flex;
}

.login-register ul span {
    margin: 0 10px;
}




/*Footer Pháp*/


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: #F5E9D4;
    padding: 50px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 70px;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 35px;
}

.footer-section p {
    color: #3333338d;
}

.footer-section h3 {
    color: #333;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section ul li a:hover {
    color: #DE884A;
    text-decoration: none;
}

.footer-section .footer-links li {
    color: #838C48; /* Change this to your desired color for the list items */
}

/* đường line dưới câu */
.footer-section .footer-links .line1 {
    color: #666; /* Change this to your desired color for the list items */
    border-bottom: 1px solid #ccc; /* Add a small line under each list item */
    padding-bottom: 10px; /* Add some padding at the bottom */
    margin-bottom: 10px; /* Add some margin at the bottom */
}

/*footer-links2*/
.footer-section .footer-links2 a {
    padding-bottom: 10px; /* Add some padding at the bottom */
    margin-bottom: 10px; /* Add some margin at the bottom */
    font-size: 14px; 
    color: #33333393;
}

/* đường line */
.footer-section .footer-links2 .line2 {
    color: #666; /* Change this to your desired color for the list items */
    border-bottom: 1px solid #ccc; /* Add a small line under each list item */
    padding-bottom: 10px; /* Add some padding at the bottom */
    margin-bottom: 10px; /* Add some margin at the bottom */
    font-size: 14px;
}

.footer-section3 .footer-links3 .line3 {
    color: #666; /* Change this to your desired color for the list items */
    border-bottom: 1px solid #ccc; /* Add a small line under each list item */
    padding-bottom: 10px; /* Add some padding at the bottom */
    margin-bottom: 10px; /* Add some margin at the bottom */
    font-size: 14px;
}

.footer-section3 {
    width: 180px;
    margin: 10px 10px;
}

.footer-section3 p {
    color: #3333338d;
}

.footer-section3 h3 {
    color: #333;
    margin-bottom: 20px;
}

.footer-section3 ul {
    list-style-type: none;
    padding: 0;
}

.footer-section3 ul li {
    margin-bottom: 10px;
}

.footer-section3 ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section3 ul li a:hover {
    color: #DE884A;
    text-decoration: none;
}

.footer-section3 .footer-links3 i {
    color: #838C48; /* Change this to your desired color for the icons */
    margin-right: 10px; /* Add some space between the icon and the text */
}

.footer-logo img {
    position: absolute;
    top: -110px; /* Điều chỉnh giá trị này để di chuyển lên trên */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Đảm bảo khối div logo chiếm toàn bộ chiều rộng */
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social-icons a {
    color: #838C48;
    margin: 0 10px;
    font-size: 25px;
    text-decoration: none;
}

.footer-social-icons a:hover {
    color: #333;
    text-decoration: none;
}

.footer-copyright {
    background-color: #838C48;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust this to space out content */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.social-icons a {
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 0px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a img {
    width: 30px; /* Adjust the size of the icons */
    height: 30px; /* Adjust the size of the icons */
}

.social-icons a:hover img {
    opacity: 0.7; /* Add a hover effect */
}

.hover-text {
    color: #fff; /* Default text color */
    transition: color 0.3s; /* Smooth transition */
}

.hover-text:hover {
    color: #DE884A; /* Change this to your desired hover color */
}

.start-learning {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F5E9D4;
    color: #838C48;
    text-decoration: none;
    border-radius: 1px;
}

.start-learning:hover {
    background-color: #838C48;
    color: #fff;
}

address p {
    margin: 0;
    margin-bottom: 10px;
}

.fa-phone, .fa-fax, .fa-envelope {
    margin-right: 5px;
}
