<footer class="site-footer">
    <div class="container-footer">
        <div class="footer-container">
            <div class="footer-section-footer-section-first">
                <div class="footer-logo">
                    <img src="/assets/img/lms-logo-color.png" alt="LMS Logo"> <!-- Update the path to your logo -->
                </div>
            </div>
            <div class="footer-section">
                <h3 data-i18n="translation.AboutUs">About Us</h3>
                <p data-i18n="translation.footerLoremipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis diam. <br><br>Duis tellus enim, vestibulum eget varius id, vulputate et mi. Nullam feugiat, diam quis interdum varius</p>
                <a href="#"  data-i18n="translation.Start"  class="start-learning">START LEARNING NOW</a>
            </div>
            <div class="footer-section">
                <h3  data-i18n="translation.Popular">Popular Courses</h3>
                <ul class="footer-links">
                    <li  data-i18n="translation.Power" class="line1"><a href="#">Power Electronics</a> <br> Free</li>
                    <li  data-i18n="translation.Introduction" class="line1"><a href="#">Introduction to Calculus</a><br> Free</li>
                    <li  data-i18n="translation.Basic"><a href="#">Basic Laws and Policies</a> <br>Free</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3  data-i18n="translation.Quick">Quick Links</h3>
                <ul class="footer-links2">
                    <li class="line2"><a href="#"  data-i18n="translation.footerALL">〉 All Courses</a></li>
                    <li class="line2"><a href="#"  data-i18n="translation.Summer">〉 Summer Sessions</a></li>
                    <li class="line2"><a href="#"  data-i18n="translation.Professional">〉 Professional Courses</a></li>
                    <li class="line2"><a href="#"  data-i18n="translation.Privacy">〉 Privacy Policy</a></li>
                    <li><a href="#"  data-i18n="translation.Terms">〉 Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-section3">
                <h3 data-i18n="translation.ContactUs">Contact Us</h3>
                <address class="footer-links3">
                    <p class="line3"><a id="addressLink" href="#" onclick="redirectToGoogle()">
                        <i class="fa fa-map-marker"></i>The Design Themes Inc.<br>
                        Mary Jane St, Sydney 2233<br>
                        Australia.
                    </a></p>
                    <p class="line3"><a href="tel: +11 (2) 7654 2233"><i class="fa fa-phone"></i> +11 (2) 7654 2233</a></p>
                    <p class="line3"><a href="tel: +11 (5) 7654 2244"><i class="fa fa-fax"></i> +11 (5) 7654 2244</a></p>
                    <p class="line_email"><a href="mailTo: lms@gmail.com"><i class="fa fa-envelope"></i> lms@gmail.com</a></p>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-content">
            &copy; Copyright © 2020 LMS Theme All Rights Reserved │ 
            <span class="hover-text">Design Themes</span>
            <div class="social-icons">
                <a href="#"><img src="/assets/img/footer-twitter.png" alt="Twitter"></a>
                <a href="#"><img src="/assets/img/youtube.png" alt="YouTube"></a>
                <a href="#"><img src="/assets/img/footer-facebook.png" alt="Facebook"></a>
                <a href="#"><img src="/assets/img/skype.png" alt="Skype"></a>
            </div>    
        </div>
    </div>
</footer>
